{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="h-screen w-full bg-center bg-cover relative" style="background-image: url('../static/images/ambot.jpg');">
        <div class="h-full w-full bg-black bg-opacity-70  overflow-y-auto backdrop-blur-sm">
            <div class="h-full w-full max-w-[1300px] px-4 mx-auto pt-24">
                <div class="h-full flex flex-col space-y-8 items-center pt-6  px-20">
                    <div class="w-full flex flex-col space-y-2 z-10">
                        <h1 class="text-green-200 font-bold text-2xl text-center">THE COME UP</h1>
                        <div>
                            <p class="text-gray-300 font-light text-lg text-center">Welcome to UND, where fashion meets passion in a symphony of style. Born from a desire to blend contemporary trends with timeless elegance, our brand is more than just a clothing line; it's a celebration of individuality and self-expression.

At UND, we believe that clothing is not just about covering; it's about showcasing your unique identity to the world. Our meticulously curated collections are designed to empower and inspire confidence in every individual, regardless of their style preference or body type. From chic casual wear to sophisticated formal attire, our pieces are crafted to elevate your wardrobe and make every moment memorable.

Our journey began in 2024, with a vision to create a digital-first fashion destination that prioritizes quality, sustainability, and inclusivity. Our founders, ALBERT TORRES AND KYLE SEGUN, launched UND with the commitment to bring innovative designs and ethical fashion to the forefront of the industry. Today, we stand as a testament to the power of dreams and the impact of responsible fashion.

Sustainability is woven into the fabric of our business. We are dedicated to reducing our environmental footprint by adopting eco-friendly practices in every aspect of our operations. From sourcing sustainable materials to implementing ethical manufacturing processes, we strive to make a positive difference in the fashion world and beyond.

Our online store offers an effortless shopping experience, bringing the latest trends right to your doorstep. With an intuitive design and customer-centric approach, we ensure a seamless journey from browsing to unboxing. Our commitment to excellence extends to our customer service, where we aim to exceed expectations and foster lasting relationships with our community.

At UND, we're more than just a brand; we're a movement towards a more inclusive, sustainable, and fashionable future. Join us on this journey, and let's make a statement together—one outfit at a time.

Thank you for choosing UNDS. Here's to celebrating the beauty of diversity and the art of self-expression, one garment at a time.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}